<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="header">
    <nav class="navbar navbar-expand-lg" style="background-color: #96b819">
        <div class="container-fluid">
            <a class="navbar-brand" href="/test" style="color: whitesmoke">BarbecueSHOP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul  class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-link active">
                        <a class="nav-link active" aria-current="page" href="/products">Menu</a>
                    </li>
                    <li class="nav-link active">
                        <a class="nav-link active" aria-current="page" href="/users">User</a>
                    </li>
                </ul>
                <div  sec:authorize="isAuthenticated() && !hasRole('ADMIN')" >
                    <a  class="nav-link active" style="float: right" th:href="'/users/profile/' + ${#authentication.getPrincipal().getUserId()}">Profile</a>
                </div>

                <form class="d-flex">
                    <a href="/logout" class="btn btn-primary" role="button" aria-disabled="true">Exit</a>
                </form>
            </div>
        </div>
    </nav>
</div>

